<head>
	<title>Your Passwords</title>
	<link rel="stylesheet" href="/main.css" />
</head>

<body>
	<div id="userGrid" class="grid">
		<h1 class="fillRow title">Your Saved Passwords:</h1>
		<% if(locals.accounts){ if(!accounts.length) {%>
			<p class="fillRow">No Passwords Saved</p>
			<% } accounts.forEach((account, i)=> { %>
				<div class='card'>
					<h3>
						Service:
					</h3>
					<p>
						<%= account.service %>
					</p>
					<h3>
						Account URL:
					</h3>
					<p>
						<%= account.url %>
					</p>
					<h3>
						Password:
					</h3>
					<p>
						<%= account.password %>
					</p>
					<form action='/delete' method='post'>
						<input name="index" value="<%= i %>" hidden />
						<button type='submit' class='delete'>
							<h2>X</h2>
						</button>
					</form>
				</div>
				<% })} %>
	</div>
	<h1>Save a new password</h1>
	<form name="form" action="/" method="post">
		<% if(locals.message){ %>
			<p>
				<%= message %>
			</p>
			<% } %>
				<input type="text" name="service" placeholder="Service" />
				<input type="text" name="url" placeholder="Account URL" />
				<label>Password Length</label>
				<input type="number" name="passLen" />
				<h2>Include:</h2>
				<label>Symbols</label>
				<input type="checkbox" name="symbols" checked />
				<label>Numbers</label>
				<input type="checkbox" name="numbers" checked />
				<label>Upper Case</label>
				<input type="checkbox" name="upperCase" checked />
				<label>Lower Case</label>
				<input type="checkbox" name="lowerCase" checked />
				<button type="submit">Generate Password</button>
	</form>
	<script>
		document.form.onsubmit = function (e) {
			if (!e.target.symbols.checked && !e.target.numbers.checked && !e.target.upperCase.checked && !e.target.lowerCase.checked) {
				e.preventDefault();
			}
		}
	</script>
</body>